<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-md-6">
        <h2>Invite your friends to Accruto</h2>
        <p>Know someone who will be great for the same job? Use this form to invite your friends and colleagues to join.</p>

        <p>We'll send an email on your behalf to the email address you specify below. When your friend signs up and finds a job through the Accruto platform, you'll be handsomely rewarded!</p>

        <p>You receive:</p>
        <ul>
          <li><strong><%= Candidate::BOUNTY %></strong> for each hired referral.</li>
        </ul>  
        <p>They receive:</p>
        <ul>
          <li>Priority selection for potential jobs.</li>
        </ul>
        <%= simple_form_for @invite do |f| %>
          <%= f.input :name, label: "Friend's name", placeholder: "John Doe" %>
          <%= f.input :email, label: "Friend's email address", placeholder: "john.doe@gmail.com" %>
          <%= f.input :message, label: "Personal message", input_html: { value: "This is the best source I've found for picking up solid job leads. Lots of companies that are serious about interviewing you and giving you details like salary and overtime pay upfront." } %>
          <%= f.submit "Send Invitation", class: "btn btn-lg btn-success", disable_with: "Sending Invitation..." %>
        <% end %>
      </div> 
      <div class="col-md-6">
        <h4>Preview the email invitation here</h4>
        <div class="well">
        <p><strong>From:</strong><br>
        "<%= @candidate.full_name %>" &lt;<%= @candidate.user.email %>&gt;<br>
        <strong>To:</strong><br>
        "<span class="invite-name-preview">Sarah</span>" &lt;<span class="invite-email-preview">sarah@accruto.com</span>&gt;<br>
        <strong>Subject:</strong><br>
        <%= @candidate.full_name %> has invited you to join Hired<br>
        </p>

        <p><strong>Body:</strong><br>
        Hi <span class="invite-name-preview">Sarah</span>,</p>

          <p>You've been recommended for Accruto by your friend <%= @candidate.full_name %> (<%= @candidate.email %>). Accruto is the new way to discover new job opportunities for skilled trades and technical hires. Accruto currently works with 60 companies - including the likes of Woolworths, Target, Rio Tinto and many more.</p>

        <p><%= @candidate.first_name %> wrote:<br>
        <span id="invite-message-preview"></span></p>

          <p>Since you've been recommended, you get a special perk: priority selection of your profile and higher likelihood of invitation for an interview.</p>

          <p>Join Accruto through your personal link:<br> 
          http://accruto.com/invited/<%= @candidate.email %></p>

          --- <br>
          <p>This is a one-time email sent because <%= @candidate.full_name %> (<%= @candidate.email %>) recommended you. You have not been added to any email list.</p>
        </div>
      </div> 
    </div>
    <br>
    <div class="row content">
      <div class="col-md-12">
        <h3>Invites</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date Sent</th>
              <th>Invitation Sent To</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% if @invites.empty? %>
              <tr><td>No invites sent yet.</td></tr>
            <% else %>
              <% @invites.each do |invite| %>
                <tr>
                  <td><%= invite.created_at.to_s(:long_ordinal) %></td>
                  <td><%= invite.name %> &lt;<%= invite.email %>&gt;</td>
                  <td><%= invite.status.split("_").map(&:capitalize).join(" ") %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
