<% title "Sign Up" %>
<div class="content static-pages">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<h2>Sign up for Accruto</h2>
				<div class="user-selection">
					<div class="btn-group btn-group-lg">
	          <button type="button" class="btn btn-success">Job Seeker</button>
	          <button type="button" class="btn btn-default">Employer?</button>
	        </div>
        </div>
				<div class="sign-up-form">
					<%= simple_form_for @user, :url => registration_path(resource_name) do |f| %>
					  <%= f.error_notification %>
					  <div class="form-inputs">
					  	<%= f.simple_fields_for :candidate do |c| %>
					  		<div class="row">
					  			<div class="col-md-6">
					  				<%= c.input :first_name, :autofocus => true %>
					  			</div>
					  			<div class="col-md-6">
					  				<%= c.input :last_name %>
					  			</div>
					  		</div>
						    <%= f.input :email, :required => true %>
						    <%= f.input :password, :required => true %>
						    <%= c.input :phone, :required => true %>
					    <% end %>
					  </div>

					  <div class="form-actions">
					    <%= f.button :submit, "Sign up", :class=>"btn btn-success", disable_with: "Signing up..." %>
					  </div>
					<% end %>
					<br>
					<%= render "devise/shared/links" %>
					<hr>
					<p class="small-note">Thank you for signing up with Accruto. We are the biggest blue-collared and skilled trade job portal in Australia. Good luck on searching for your perfect job!</p>
				</div>
			</div>
		</div>
	</div>
</div>