<h3>Export Candidate CSV</h3>
<%= form_tag users_download_csv_path, class: 'form-horizontal' do %>
  <fieldset>
    <div class="row">
      <div class="col-md-4">
        <div class="control-group">
          <label class="control-label" for="candidate-range">Date Range:</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-calendar"></i></span>
              <input type="text" name="candidate[range]" id="candidate-range"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="control-group">
          <label class="control-label" for="candidate_positions">No. of Candidates to Export:</label>
          <div class="controls">
            <%= text_field_tag "candidate[limit]", "", id: 'limit' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="control-group">
        <label class="control-label" for="candidate_positions">Industries:</label>
        <div class="controls">
          <% @industries.each do |industry| %>
            <div>
              <%= check_box_tag "industry[]", industry.name, false, id: "industry-#{industry.id}" %>
              <label for="industry-<%= industry.id %>"><%= industry.name %> (<%= industry.count %>)</label>
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <br/>
      <%= submit_tag "Download CSV", class: "btn btn-primary" %>
    </div>
  </div>
  </fieldset>
<% end %>
