<h2>Candidates&nbsp;&nbsp;&nbsp;<%= link_to new_admin_candidate_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Candidate
  <% end %></h2>
<h3>Candidate list</h3>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Start Interviewing In</th>
      <th>Visa</th>
      <th>Date Signed Up</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% if @candidates.empty? %>
      <tr>
        <td>No candidates signed up yet.</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% else %>
      <% @candidates.each do |candidate| %>
        <tr>
          <td><%= candidate.full_name %></td>
          <td><%= candidate.email %></td>
          <td>
          <% if candidate.start_interviewing_at %>
            <%= distance_of_time_in_words(candidate.start_interviewing_at, DateTime.now) %>
          <% else %>
            Not specified
          <% end %>
          </td>
          <td><%= candidate.visa %></td>
          <td><%= candidate.created_at.to_s(:long) %></td>
          <td><%= candidate.state %></td>
          <td><a href="<%= edit_admin_candidate_path(candidate) %>">View</a></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<h3>Export Candidate CSV</h3>
<%= form_tag users_download_csv_path, class: 'form-horizontal' do %>
  <fieldset>
    <div class="row">
      <div class="col-md-4">
        <div class="control-group">
          <label class="control-label" for="candidate-range">Date Range:</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-calendar"></i></span>
              <input type="text" name="candidate[range]" id="candidate-range"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="control-group">
          <label class="control-label" for="candidate_positions">No. of Candidates to Export:</label>
          <div class="controls">
            <%= text_field_tag "candidate[limit]", "", id: 'limit' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="control-group">
        <label class="control-label" for="candidate_positions">Industries:</label>
        <div class="controls">
          <%= text_field_tag "candidate[positions]", "", id: 'positions' %>
        </div>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <br/>
      <%= submit_tag "Download CSV", class: "btn btn-primary" %>
    </div>
  </div>
  </fieldset>
<% end %>
