<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<div class="row-fluid">
  		<div class="span6">
		  	<h5>Job Details</h5>
		    <%= f.input :title %>
		    <%= f.input :description, as: :text %>
		    <%= f.input :job_type, collection: ["Part Time", "Full Time", "Contract"] %>
		    <%= f.input :subcategories, label: "Job Subcategory", collection: ["Mining", "Biotech", "Oil and Gas"] %>
  		</div>
  		<div class="span6">
  			<h5>Job Company</h5>
  			<%= f.simple_fields_for :company do |c| %>
  				<%= c.input :name %>
  				<%= c.input :phone %>
  			<% end %>
  			<%= f.simple_fields_for :address do |a| %>
  				<%= a.input :street %>
  				<%= a.input :city %>
  				<%= a.input :postcode %>
  				<%= a.input :state %>
  			<% end %>
  		</div>
  	</div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
