<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<div class="row-fluid">
  		<div class="span6">
		  	<h5>Job Details</h5>
		    <%= f.input :title %>
		    <%= f.input :description, as: :text %>
		    <%= f.input :job_type %>
		    <%= f.input :external_job_id %>
		    <%= f.simple_fields_for :address do |a| %>
		    	<%= a.input :street %>
		    	<%= a.input :city %>
		    	<%= a.input :postcode %>
		    	<%= a.input :state %>
		    <% end %>
  		</div>
  		<div class="span6">
  			<h5>Job Company</h5>
  			<%= f.simple_fields_for :company do |c| %>
  				<%= c.input :name %>
  				<%= c.input :phone %>
  			<% end %>
  			<h5>Job Subcategories</h5>
  			<%= f.simple_fields_for :subcategories do |s| %>
  				<%= s.input :name, label: "Subcategory name" %>
  			<% end %>
  		</div>
  	</div>
  	<%= f.input :posted_at %>
  	<%= f.input :expires_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
