<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs job-form-container">
  	<div class="row-fluid">
  		<div class="span6 ">
		  	<p class="about-listing">1. Fill in the form below to post your job.</p>
		    <%= f.input :title, label: "Job Title", input_html: { class: "form-inputs" } %>
		    <%= f.simple_fields_for :company do |c| %>
		    	<%= c.input :name, label: "Company Name" %>
		    <% end %>
		    <%= f.simple_fields_for :address do |a| %>
		    	<%= a.input :city, label: "City", collection: [
		    		["Sydney", "Sydney"],
		    		["Perth", "Perth"],
		    		["Brisbane", "Brisbane"]
		    		] %>
		    	<%= a.hidden_field :state, value: 'NSW' %>
		    <% end %>
		    <div class="job-type">
		    	<%= f.input :job_type, collection: [
		    		["Part Time","Part Time"],
		    		["Full Time","Full Time"],
		    		["Contract", "Contract"]
		    		], as: :radio_buttons %>
		    </div>
		    <%= f.association :subcategories, label: "Category", collection: @subcategories, include_blank: true, input_html: { class: 'chosen-select' } %>		    
		    <%= f.input :description, as: :text, input_html: { class: 'compose-description'} %>
		    <%= f.hidden_field :posted_at, value: DateTime.now %>
		    <%= f.hidden_field :source, value: 'accruto' %>
  		</div>
  		<div class="span6 preview-sidebar">
  			<div class="create-subheading">
  				<p class="about-listing">2. Preview your ad</p>
  			</div> 			
  			<div class="job-form-preview">
  				<div class="highlight-indent">
	  				<ul class="result-jobs">
	  					<li>
	  						<div class="row-fluid">
	  							<div class="span8 job-info">
	  								<h3 class="role-title"><span id="job_title_preview">Example Job Title</span></h3>
	  								<p>
	  									<span class="label label-full-time hidden"><span id="job-type-preview">Full Time</span></span>
	  									<span class="job-location blue-accent"><span id="job_company_attributes_name_preview">Pollenizer</span> - <span id="job_address_attributes_city_preview">Sydney, 2010 NSW</span>
	  									</span>
	  								</p>
	  								<p class="job-description"><span id="job_description_preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  								consequat.</span></p>

	  								<small class="posted-date hidden-phone">Posted today on accruto.com</small>
	  							</div>
	  							<div class="span3">
	  								<div class="result-actions align-right">
	  										<a href="#" class="btn btn-primary btn-view-job">VIEW</a>
	  										<a href="#" class="btn btn-inverse"><i class="icon-star"></i></a>
	  								<small class="posted-date hidden-desktop hidden-tablet">Posted today on accruto.com</small>
	  								</div>
	  							</div>
	  						</div>
	  					</li>
	  				</ul>
	  			</div>

  				<p class="about-listing">3. Purchase addons</p>
  				<div class="row-fluid">
  					<div class="addon-choices">
						<ul>
							<a><li class="price-dis"><%= radio_button_tag :checkbox, 1 %>
								<span class="ad-price">Free </span>&mdash; Standard posting with no logo. 
							</li></a>
							<a><li><%= radio_button_tag :checkbox, 1 %>
								<span class="ad-price">$15 Highlight </span>&mdash; Additional branding. Upload your logo now.
							</li></a>
							<a><li><%= radio_button_tag :checkbox, 1 %>
								<span class="ad-price">$30 Featured</span>&mdash; Display as top result, highlight and branding.
							</li></a>
						</ul>
					</div>
  				</div>
  				<br>
  				<div class="payable">
  					<div class="row-fluid">
  						<div class="span8">
  							<h3>Total Payment Due: <span class="amount-due">$15</span></h3>
  						</div>
  						<div class="span4">
  							<%= f.button :submit, "Post Job Ad", :class=>'btn btn-primary btn-large btn-create-jobs' %>
  						</div>
  				</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
<% end %>
