<div class="row-fluid">
	<div class="span4">
		<%= render 'search_sidebar' %>
	</div>
	<div class="span8">
		<h4>There are a total of <span class="result-number"><%= number_to_human(@jobs.length) %></span> jobs matching your search criteria</h4>
		<hr>
		<ul class="result-jobs">
			<% @jobs.each do |job| %>
				<a href="#">
					<li>
						<div class="row-fluid">
							<div class="span7">
								<h3><%= job.title %></h3>
								<p>
									<span class="label label-warning"><%= job.job_type %></span>
									<%= job.company.name %> - <%= job.address.city %>, <%=  job.address.postcode %> <%= job.address.state %>
								</p>
								<!-- <p><%= sanitize job.description, tags: %w(div ul li p) %></p> -->
							</div>
							<div class="span4">
								<div class="result-actions align-right">
									<span><%= distance_of_time_in_words(job.expires_at, DateTime.now) %> ago</span><br>
									<a href="#" class="btn btn-primary">APPLY</a>
								</div>
							</div>
						</div>
						<hr>
					</li>
				</a>
			<% end %>
		</ul>
	</div>
</div>
