<div class="search-box">
		<h4 class="sidebar-title">Refine your Search Results</h4>
	<%= form_tag "/jobs/search", method: :get do %>
		<label class="brand-dark-blue-accent">Whats  your next job title?</label>
		<%= text_field_tag :job_title, params[:job_title], placeholder: 'Job Title' %>
		<label class="brand-dark-blue-accent">Where?</label>
		<%= text_field_tag :address, params[:address], placeholder: 'City or State' %>
		<label class="brand-dark-blue-accent">Date posted:</label>
		<%= select_tag :days, options_for_select(date_filter_options, params[:days]) %>
		<label class="brand-dark-blue-accent">Sort by:</label>
		<%= select_tag :sort, options_for_select(sort_filter_options, params[:sort]) %>
		<div class="hidden">
			<label class="brand-dark-blue-accent">What type of commitment</label>
			<div class="radio-container">
				<input type="radio" />&nbsp;&nbsp;&nbsp;Full-time <input type="radio" />&nbsp;&nbsp;&nbsp;Casual <br>
				<input type="radio" />&nbsp;&nbsp;&nbsp;Part-time <input type="radio" />&nbsp;&nbsp;&nbsp;Contract
			</div>
			<br>
		</div>
		<%= submit_tag "Search", class: 'btn btn-primary btn-large' %>
	<% end %>
</div>

<div class="recent-searches">
	<p><span class="sidebar-title">Recent Searches</span></p>
	<ul class="recent-list">
		<% if session[:search].blank? %>
			<li>
				<a href="#"><span class="recent-role">No Recent Searches</span></a>
			</li>
		<% else %>
			<% session[:search].each do |recent_search| %>
				<li>
					<a href="#"><span class="recent-role"><%= recent_search.job_title.capitalize %></span> in <span class="recent-role"><%= recent_search.address.capitalize %></span>
					<a href="#" class="btn btn-inverse pull-right">Alert Me</a>
				</li>
		<% end %>
		<% end %>
	</ul>
	<p class="align-right"><%= link_to 'Clear Searches', clear_searches_jobs_path, confirm: 'Are you sure?', method: :delete %></p>
</div>

<div class="favourite-roles">
	<p><span class="sidebar-title">Favourited Jobs</span></p>
	<ul id="favourites-sidebar-list" class="recent-list">
    <% unless favourite_jobs.empty? %>
      <%= render 'job_favourite_empty', show: false %>
      <% favourite_jobs.each do |favourite_job| %>
        <%= render 'job_favourite_item', job: favourite_job %>
      <% end if defined?(favourite_jobs) %>
    <% else %>
      <%= render 'job_favourite_empty', show: true %>
    <% end %>
  </ul>
</div>