<div class="page-header">
  <%= link_to new_job_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Job
  <% end %>
  <h1>Listing jobs</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>Posted at</th>
      <th>Expires at</th>
      <th>Type</th>
      <th>Company</th>
      <th>External link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.address_id %></td>
      <td><%= job.posted_at %></td>
      <td><%= job.expires_at %></td>
      <td><%= job.type %></td>
      <td><%= job.company_id %></td>
      <td><%= job.external_link %></td>
      <td><%= link_to 'Show', job %></td>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Destroy', job, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
