<div class="container results-main">
	<div class="row-fluid">
		<div class="span3 hidden-phone">
			<%= render 'search_sidebar', favourite_jobs: @favourite_jobs %>
		</div>
		<div class="span9 result-list">
				<h4 class="result-sentence">There are <%= number_with_delimiter(total_search_result(@search_results)) %> <span class="result-number"><%= params[:job_title].empty? ? params[:category] : params[:job_title] %></span> jobs in <span class="result-number">
					<%= params[:address].empty? ? "Australia" : params[:address] %>
				</span></h4>
				<%= simple_form_for :user do |f| %>
				<%= f.submit "Create Job Alert", class: "btn btn-yellow btn-email-sub" %>
				<% end %>
			<hr>
			<ul class="result-jobs">
				<% @jobs.each do |job| %>
					  <% case job.source %>
						<% when 'CareerOne' %>
							<a href="http://jobview.careerone.com.au/GetJob.aspx?JobID=<%= job.external_job_id %>&WT.mc_n=AFC_linkme" target="new">
						<% else %>
							<a href="<%= job_path(job) %>">
						<% end %>
						<li>
							<div class="row-fluid">
								<div class="span8 job-info">
									<a href="#" data-job-id="<%= job.id %>" class="favourite-btn-<%= job.id %> hidden-desktop btn add-to-favourite-btn<%= current_user ? '' : '-blocked' %> <%= selected_job_favourite(job) %>" data-action="<%= add_to_favourite_jobs_path %>">
                    <span class="<%= "job-loader-#{job.id}" %>" data-image-url="<%= image_path("ajax-loader.gif") %>"></span>
                    <i class="icon-star"></i>
                  </a>
									<h3 class="role-title"><%= job.title %></h3>
									<p>
										<span class="label label-full-time hidden"><%= job.job_type %></span>
										<div class="job-location">at <%= job.company.name.titleize %> - <%= job.address.city %>, <%=  job.address.postcode %> <%= job.address.state %>
										</div>
										<div class="posted-date hidden-phone">Posted <%= distance_of_time_in_words(job.posted_at, DateTime.now) %> ago on <%= job.source %>.com</div>
										<div class="posted-date hidden-desktop hidden-tablet">Posted <%= distance_of_time_in_words(job.posted_at, DateTime.now) %> ago on <%= job.source %>.com</div>
									</p>
									<p class="job-description"><%= truncate(sanitize(job.description, tags: ""), length: 120, seperator: " ") %></p>
								</div>
								<div class="span3 hidden-phone">
									<div class="result-actions align-right">
										<% case job.source %>
											<% when 'CareerOne' %>
												<a href="http://jobview.careerone.com.au/GetJob.aspx?JobID=<%= job.external_job_id %>&WT.mc_n=AFC_linkme" target="new" class="btn btn-inverse btn-view-job hidden-phone"><i class="icon-mail-forward"></i>&nbsp;&nbsp;VIEW</a>
											<% else %>
												<a href="<%= job_path(job) %>" class="btn btn-inverse btn-view-job hidden-phone"><i class="icon-mail-forward"></i>&nbsp;&nbsp;VIEW</a>
											<% end %>
                      <a href="#" data-job-id="<%= job.id %>" class="favourite-btn-<%= job.id %> hidden-phone btn add-to-favourite-btn<%= current_user ? '' : '-blocked' %> <%= selected_job_favourite(job) %>" data-action="<%= add_to_favourite_jobs_path %>">
                        <span class="<%= "job-loader-#{job.id}" %>" data-image-url="<%= image_path("ajax-loader.gif") %>"></span>
                        <i class="icon-star"></i>
                      </a>
									</div>
								</div>
							</div>
						</li>
					</a>
				<% end %>
			</ul>
			<%= will_paginate @jobs %>
		</div>
	</div>
</div>


<div id="favourite-blocker-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="favouriteLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="favouriteLabel" class="favourite-modal">View shortlisted jobs on desktop and mobile</h3>
  </div>
  <div class="modal-body">
    <p>You need to sign up / sign in to add jobs to your shortlist.</p>
  </div>
  <div class="modal-footer">
    <a class="btn" href="<%= new_user_session_path %>">I am an existing user</a>
    <a class="btn btn-primary" href="<%= new_user_registration_path %>">Sign up now</a>
  </div>
</div>
