<div class="container results-main">
	<div class="row-fluid">
		<div class="span3 hidden-phone">
			<%= render 'shared/search_sidebar', favourite_jobs: @favourite_jobs %>
		</div>
		<div class="span9 result-list">
				<h4 class="result-sentence">There are <%= number_with_delimiter(total_search_result(@search_results)) %> <span class="result-number"><%= params[:job_title].blank? ? params[:category] : params[:job_title] %></span> jobs in <span class="result-number">
					<%= params[:address].blank? ? "Australia" : params[:address] %>
				</span></h4>
				<%= simple_form_for :user do |f| %>
				<%= f.submit "Create Job Alert", class: "btn btn-yellow btn-email-sub" %>
				<% end %>
			<hr>
			<ul class="result-jobs">
				<% @jobs.each do |job| %>
					  <% case job.source %>
						<% when 'CareerOne' %>
							<a href="http://jobview.careerone.com.au/GetJob.aspx?JobID=<%= job.external_job_id %>&WT.mc_n=AFC_linkme" target="new">
						<% else %>
							<a href="<%= job_path(job) %>">
						<% end %>
						<%= render 'shared/search_entry', job: job %>
					</a>
				<% end %>
			</ul>
			<%= will_paginate @jobs %>
		</div>
	</div>
</div>


<div id="favourite-blocker-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="favouriteLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="favouriteLabel" class="favourite-modal">View shortlisted jobs on desktop and mobile</h3>
  </div>
  <div class="modal-body">
    <p>You need to sign up / sign in to add jobs to your shortlist.</p>
  </div>
  <div class="modal-footer">
    <a class="btn" href="<%= new_user_session_path %>">I am an existing user</a>
    <a class="btn btn-primary" href="<%= new_user_registration_path %>">Sign up now</a>
  </div>
</div>
