<div class="container results-main">
	<div class="row-fluid">
		<div class="span3 hidden-phone">
			<%= render 'search_sidebar', favourite_jobs: @favourite_jobs %>
		</div>
		<div class="span9 result-list">
			<h4 class="result-sentence">There are a total of <span class="result-number"><%= number_with_delimiter(total_search_result(@search_results)) %></span> jobs matching your search criteria</h4>
			<hr>
			<ul class="result-jobs">
				<% @jobs.each do |job| %>
					  <% case job.source %>
						<% when 'CareerOne' %>
							<a href="http://jobview.careerone.com.au/GetJob.aspx?JobID=<%= job.external_job_id %>&WT.mc_n=AFC_linkme" target="new">
						<% else %>
							<a href="<%= job_path(job) %>">
						<% end %>
						<li>
							<div class="row-fluid">
								<div class="span8 job-info">
									<a href="#" id="favourite-btn-<%= job.id %>" data-job-id="<%= job.id %>" class="hidden-desktop pull-right btn btn-inverse add-to-favourite-btn<%= current_user ? '' : '-blocked' %> <%= selected_job_favourite(job) %>">
									  <i class="icon-star"></i>
									</a>
									<h3 class="role-title"><%= job.title %></h3>
									<p>
										<span class="label label-full-time hidden"><%= job.job_type %></span>
										<div class="job-location">at <%= job.company.name.titleize %> - <%= job.address.city %>, <%=  job.address.postcode %> <%= job.address.state %>
										</div>
										<div class="posted-date hidden-phone">Posted <%= distance_of_time_in_words(job.posted_at, DateTime.now) %> ago on <%= job.source %>.com</div>
										<div class="posted-date hidden-desktop hidden-tablet">Posted <%= distance_of_time_in_words(job.posted_at, DateTime.now) %> ago on <%= job.source %>.com</div>
									</p>
									<p class="job-description"><%= truncate(sanitize(job.description, tags: ""), length: 120, seperator: " ") %></p>
								</div>

								<div class="span3 hidden-phone">
									<div class="result-actions align-right">
										<% case job.source %>
											<% when 'CareerOne' %>
												<a href="http://jobview.careerone.com.au/GetJob.aspx?JobID=<%= job.external_job_id %>&WT.mc_n=AFC_linkme" target="new" class="btn btn-inverse btn-view-job hidden-phone"><i class="icon-mail-forward"></i>&nbsp;&nbsp;VIEW</a>
											<% else %>
												<a href="<%= job_path(job) %>" class="btn btn-primary btn-view-job"><i class="icon-mail-forward"></i>&nbsp;&nbsp;VIEW</a>
											<% end %>
                      <a href="#" id="favourite-btn-<%= job.id %>" data-job-id="<%= job.id %>" class="hidden-phone btn btn-inverse add-to-favourite-btn<%= current_user ? '' : '-blocked' %> <%= selected_job_favourite(job) %>">
                        <i class="icon-star"></i>
                      </a>
									</div>
								</div>
							</div>
						</li>
					</a>
				<% end %>
			</ul>
			<%= will_paginate @jobs %>
		</div>
	</div>
</div>


<div id="favourite-blocker-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="favouriteLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="favouriteLabel" class="favourite-modal">Please sign up</h4>
  </div>
  <div class="modal-body">
    <p>You have to sign up to add jobs to your favourite lists</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">I will signup later</button>
    <button id="go-to-signup-btn" class="btn btn-primary">Sign up now</button>
  </div>
</div>
