<% title "Edit Profile" %>
<div class="content edit-profile">
  <%= simple_form_for @profile, url: update_profile_path do |f| %>
    <div class="container">
      <div class="section">
        <h3>Personal Information</h3>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <%= f.input :first_name, :autofocus => true, :required => true %>
          </div>
          <div class="col-md-3">
            <%= f.input :last_name %>
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">

          </div>
          <div class="col-md-3">
            <%= f.input :job_title, label: "Current job title" %>
          </div>
          <div class="col-md-3">
            <%= f.input :phone %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-prompt">
              Get 5-15+ offers in one week by including a detailed summary. <a href="#">Check out some real examples</a>.
            </div>
            <%= f.input :summary, input_html: { class: "profile-summary" }, as: 'text' %>
          </div>
        </div>
      </div>
      <div class="section">
        <h3>Job Search Information</h3>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <%= f.input :status, collection: status_filter_options, label: "When can you start interviewing?" %>
          </div>
          <div class="col-md-3">
            <%= f.input :visa, collection: visa_filter_options, label: "Employment Eligibility Status" %>
          </div>
          <div class="col-md-3">
            <label>Minimum annual salary</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.input_field :minimum_annual_salary, as: 'string', class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <h3>Work Experience</h3>
        <hr>
      </div>
      <div class="section">
        <div class="row">
          <div class="col-md-6">
            <h3>Education</h3>
            <hr>
          </div>
          <div class="col-md-6">
            <h3>Trade Qualifications</h3>
            <hr>
          </div>
        </div>
      </div>
      <%= f.button :submit, value: 'Update Profile', class: 'btn btn-success btn-lg' %>
    </div>
  <% end %>
</div>