<% title "Edit Profile" %>
<div class="content">
  <div class="container">
    <h3>Personal Information</h3>
    <%= simple_form_for @user, url: update_profile_path do |f| %>
      <%= f.simple_fields_for :candidate do |p| %>
        <div class="row">
          <div class="col-md-3">
            <%= p.input :first_name %>
          </div>
          <div class="col-md-3">
            <%= p.input :last_name %>
          </div>
          <div class="col-md-3">
            <%= f.input :email %>
          </div>
          <div class="col-md-3">
            <%= p.input :profile_photo %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <%= p.input :phone %>
          </div>
          <div class="col-md-3">
            <%= p.input :status, collection: status_filter_options %>
          </div>
          <div class="col-md-3">
            <%= p.input :visa, collection: visa_filter_options %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <%= p.input :job_title %>
          </div>
          <div class="col-md-3">
            <%= p.input :minimum_annual_salary %>
          </div>
        </div>
      <% end %>
      <h3>Job Search Information</h3>
      <%= f.button :submit, value: 'Update Profile', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>