<% title "Apply For Job" %>
<div class="container">
  <div class="apply-form-container">
  	<div class="row-fluid">
  		<div class="span7 offset2">
				<div class="highlight-indent">
				<div class="apply-send">
					<div class="apply-form">
						<h4><%= @job.title %></h4>
						<p><%= @job.company.name %> - <%= @job.address.city %>, <%= @job.address.state %></p>
					</div>
          <%= simple_form_for @job_application, url: job_job_applications_path(@job) do |f| %>
          	<%= f.error_notification %>
          	<div class="row-fluid">
          		<div class="span6">
          			<%= f.input :first_name %>
          		</div>
          		<div class="span6">
          			<%= f.input :last_name %>
          		</div>
          	</div>
          	<div class="row-fluid">
          		<div class="span6">
          			<%= f.input :email, label: "Email address" %>
          		</div>
          		<div class="span6">
          			<%= f.input :resume, as: :file, label: "Upload your resume" %>
          		</div>
          	</div>
	          <%= f.input :cover_letter, as: :text, input_html: { value: "Dear Sir/Madam,\n\nI would like to apply for the #{@job.title} position you advertised on Accruto.com. Please find my resume attached with this email.\n\nI look forward to hearing from you soon.\n\nThank you. \n\nBest Regards,\n<Name>\n<Email Address>" } %>
	          <%= f.submit "Submit Application", class: "btn btn-primary btn-apply-job", disable_with: "Submitting..." %>
	        <% end %>
				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>

