<div id="<%= key %>-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%= key %>Label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="<%= key %>Label" class="favourite-modal"><%= title %></h4>
  </div>
  <div class="modal-body">
    <p><%= content %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">I will signup later</button>
    <button id="<%= key %>-button" class="btn btn-primary">Sign up now</button>
  </div>
</div>
