<div class="sidebar-panel">
  <div class="header">
    <i class="icon-search"></i>
    <span class="header-title">Refine Search</span>
  </div>
  <div class="candidates-search-sidebar">
    <div class="refine-search">
      <%= simple_form_for :search, url: "/candidates/search", method: :get do |f| %>
        <label class="brand-dark-blue-accent">Job title</label>
        <%= f.input :job_title, placeholder: 'Job Title', input_html: { value: (params[:search][:job_title] if params[:search]) }, label: false, required: false %>
        <label class="brand-dark-blue-accent">Location</label>
        <%= f.input :address, placeholder: 'City or State', input_html: { value: (params[:search][:address] if params[:search]) }, label: false, required: false %>
        <label class="brand-dark-blue-accent">Freshness</label>
        <%= f.input :updated_at, collection: updated_at_filter_options, selected: (params[:search][:updated_at] if params[:search]), label: false, input_html: { class: "select2" } %>
        <label class="brand-dark-blue-accent">Status</label>
        <%= f.input :status, collection: status_filter_options, prompt: "All", selected: (params[:search][:status] if params[:search]), label: false, input_html: { class: "select2" } %>
        <label class="brand-dark-blue-accent">Visa Status</label>
        <%= f.input :visa, collection: visa_filter_options, prompt: "All", selected: (params[:search][:visa] if params[:search]), label: false, input_html: { class: "select2" } %>
        <div class="hidden">
          <label class="brand-dark-blue-accent">What type of commitment</label>
          <div class="radio-container">
            <input type="radio" />&nbsp;&nbsp;&nbsp;Full-time <input type="radio" />&nbsp;&nbsp;&nbsp;Casual <br>
            <input type="radio" />&nbsp;&nbsp;&nbsp;Part-time <input type="radio" />&nbsp;&nbsp;&nbsp;Contract
          </div>
          <br>
        </div>
        <%= submit_tag "Search", class: 'btn btn-success btn-block', disable_with: "Searching..." %>
      <% end %>
    </div>
  </div>
</div>

<div class="sidebar-panel hidden">
  <div class="header">
    <i class="icon-search"></i>
    <span class="header-title">Recent Searches</span>
  </div>
  <div class="recent-searches">
    <ul id="searches-sidebar-list" class="recent-list">
      <% if @recent_searches.blank? %>
        <%= render 'shared/job_search_empty', show: true %>
      <% else %>
        <% @recent_searches.each do |recent_search| %>
          <li>
            <a href="<%= build_search_params(recent_search) %>">
              <span class="recent-search"><%= recent_search.job_title.try(:capitalize) %> in
              <% if recent_search.address.present? %>
                <%= recent_search.address.try(:capitalize) %></span>
              <% else %>
                Australia</span>
              <% end %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
    <p id="remove-all-searches-wrapper" class="action align-right <%= 'hide' if @recent_searches.blank? %>">
      <%= link_to 'Clear', clear_searches_jobs_path, id: 'remove-all-searches', class: "clear" %>
    </p>
  </div>
</div>
<%= render 'shared/modal_alert', alert_title: 'Clear recent searches', alert_content: 'Are you sure want to clear all your recent searches?', key: 'remove-all-searches' %>
<%= render 'shared/modal_alert', alert_title: 'Clear shortlist', alert_content: 'Are you sure want to clear all your shortlisted jobs?', key: 'remove-all-favourites' %>
<%= render 'shared/auth_block_modal', title: 'Please sign up', content: 'You have to sign up to activate job alert', key: 'search-alert' %>