<div class="search-box sidebar-search-candidates">
    <h5 class="sidebar-title">Refine Search</h5>
  <%= simple_form_for :search, url: "/candidates/search", method: :get do |f| %>
    <label class="brand-dark-blue-accent">Job title?</label>
    <%= f.input :job_title, placeholder: 'Job Title', input_html: { value: params[:search][:job_title] }, label: false %>
    <label class="brand-dark-blue-accent">Where?</label>
    <%= f.input :address, placeholder: 'City or State', input_html: { value: params[:search][:address] }, label: false %>
    <label class="brand-dark-blue-accent">Freshness:</label>
    <%= f.input :updated_at, collection: updated_at_filter_options, selected: params[:search][:updated_at], label: false %>
    <label class="brand-dark-blue-accent">Status:</label>
    <%= f.input :status, collection: status_filter_options, prompt: "All", selected: params[:search][:status], label: false %>
    <label class="brand-dark-blue-accent">Visa Status:</label>
    <%= f.input :visa, collection: visa_filter_options, prompt: "All", selected: params[:search][:visa], label: false %>
    <div class="hidden">
      <label class="brand-dark-blue-accent">What type of commitment</label>
      <div class="radio-container">
        <input type="radio" />&nbsp;&nbsp;&nbsp;Full-time <input type="radio" />&nbsp;&nbsp;&nbsp;Casual <br>
        <input type="radio" />&nbsp;&nbsp;&nbsp;Part-time <input type="radio" />&nbsp;&nbsp;&nbsp;Contract
      </div>
      <br>
    </div>
    <%= submit_tag "Search", class: 'btn btn-primary btn-medium', disable_with: "Searching..." %>
  <% end %>
</div>

<div class="recent-searches">
  <h5 class="sidebar-title-small">Recent Searches</h5>
  <ul id="searches-sidebar-list" class="recent-list">
    <% if @recent_searches.blank? %>
      <%= render 'shared/job_search_empty', show: true %>
    <% else %>
      <% @recent_searches.each do |recent_search| %>
        <li>
          <a href="<%= build_search_params(recent_search) %>">
            <span class="recent-search"><%= recent_search.job_title.try(:capitalize) %> in
            <% if recent_search.address.present? %>
              <%= recent_search.address.try(:capitalize) %></span>
            <% else %>
              Australia</span>
            <% end %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
  <p id="remove-all-searches-wrapper" class="action align-right <%= 'hide' if @recent_searches.blank? %>">
    <%= link_to 'Clear', clear_searches_jobs_path, id: 'remove-all-searches', class: "clear" %>
  </p>
</div>

<div class="favourite-roles">
  <h5 class="sidebar-title-small">Shortlisted jobs</h5>
  <ul id="favourites-sidebar-list" class="recent-list">
    <% unless favourite_jobs.blank? %>
      <%= render 'shared/job_favourite_empty', show: false %>
      <% favourite_jobs.each do |favourite_job| %>
        <%= render 'shared/job_favourite_item', job: favourite_job %>
      <% end if defined?(favourite_jobs) %>
    <% else %>
      <%= render 'shared/job_favourite_empty', show: true %>
    <% end %>
  </ul>

  <p id="remove-all-favourites-wrapper" class="action align-right <%= 'hide' if favourite_jobs.blank? %>">
    <%= link_to 'Clear', clear_favourites_jobs_path, id: 'remove-all-favourites', class: "clear" %>
  </p>

</div>

<%= render 'shared/modal_alert', alert_title: 'Clear recent searches', alert_content: 'Are you sure want to clear all your recent searches?', key: 'remove-all-searches' %>
<%= render 'shared/modal_alert', alert_title: 'Clear shortlist', alert_content: 'Are you sure want to clear all your shortlisted jobs?', key: 'remove-all-favourites' %>
<%= render 'shared/auth_block_modal', title: 'Please sign up', content: 'You have to sign up to activate job alert', key: 'search-alert' %>