<li id="job-list-sidebar-<%= job.id %>">
	<div class="row-fluid">
		<div class="span11">
			<% if job.source == 'CareerOne' %>
			  <a href="http://jobview.careerone.com.au/GetJob.aspx?JobID=<%= job.external_job_id %>&WT.mc_n=AFC_linkme" target="new">
			<% else %>
			  <a href="<%= job_path(job) %>">
			<% end %>
		    <span class="recent-role"><%= job.title %> at <%= job.company.name %></span>
		  </a>
		</div>
		<div class="span1">
			<span>
        <span id="<%= "favourite-loader-#{job.id}" %>" data-image-url="<%= image_path("ajax-loader.gif") %>"></span>
        <i class="icon-remove remove-favourite-item" rel="tooltip" title="remove favourite" data-job-id="<%= job.id %>"></i>
      </span>
		</div>
	</div>
</li>