<% title "About Us" %>
<div class="row-fluid">
  <div class="span6">
  <h4>Accruto takes the traditional recruiting model. </h4>
  <ul>
    <li>Target candidates who are immediately available, indigenous, willing to relocate, and many more criteria</li>
    <li>Save money by reducing the need to advertise externally</li>
    <li>Access quality passive candidates not found through traditional job boards – even those working for your competitors</li>
    <li>Take control of your recruiting process: track applicants, list jobs automatically on your website, store resumes</li>
    <li>Receive alerts when hard-to-find candidates join Accruto or update their resume</li>
  </ul>
  <br>
  <h4>Easily get in touch with suitable candidates:</h4>

  <p>Subscribe for an instant access to a database containing hundreds of thousands of resumes from Australian candidates (645,000+ as of March 2012). Unlike traditional sourcing methods, employers and recruiters can target both candidates who are actively looking for a job, and also those passive candidates who are highly sought after but may not be actively looking for a job right now.</p>

  <p>We also have a job board where employers and recruiters can tell candidates about their opportunities. Accruto distributes these ads across our network of over 100 partner sites, so each ad gets substantial online exposure. Candidates conduct over 20,000 job searches each and every day on Accruto's job board</p>
  </div>
  <div class="span6">
    <div class="highlight-indent contact-indent">
      <h3>Contact us today!</h3>
      <div class="contact-send">
        <%= simple_form_for @contact_form, url: pages_send_contact_form_path do |f| %>
          <%= f.error_notification %>
          <%= f.input :full_name, wrapper_html: { class: 'name' } %>
          <%= f.input :email, wrapper_html: { class: 'email' } %>
          <%= f.input :about, collection: ['Feedback', 'Partnership', 'General Enquiries'], prompt: "Please Select One", wrapper_html: { class: 'options' } %>
          <%= f.input :message, as: :text, :input_html => { :rows => 4}, placeholder: 'Please type in your message here', label: 'Your message' %>
          <%= f.submit "Send Message", class: "btn btn-primary btn-apply-job", disable_with: "Sending..." %>
        <% end %>
      </div>
      </div>
  </div>
</div>