<% title "About Us" %>
<div class="content static-pages">
  <div class="container">
    <h1>About Us</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
      <h3>We are a community build by skilled trades and for skilled trades only.</h3>
      <ul>
        <li>Create an Accruto profile and be discovered by hundreds of skilled trades and blue collared employers in Australia.</li>
        <li>Let the job come to you - We match you with employers that offers a job which fits the position you want to work as. Sit back, relax and let the interview requests come through to your inbox.</li>
        <li>Refer your friends to Accruto. We pay a handsome bounty for every successful job placement of your referred friends.</li>
      </ul>
      <br>
      <h3>We help accelerate the recruitment process of skilled-trade and blue-collared candidates in Australia.</h3>
      <ul>
        <li>We screen candidate profiles for blue-collared and skilled trade workers and provide employers a list of qualified individuals.</li>
        <li>Save money by reducing the need to advertise on job boards and getting mediocre results.</li>
        <li>Access pre-screened and qualified skilled trade candidates not found through traditional job boards as an employer or recruiter.</li>
      </ul>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="contact-form">
          <h2>Contact us today!</h2>
          <%= simple_form_for @contact_form, url: pages_send_contact_form_path do |f| %>
            <%= f.error_notification %>
            <%= f.input :full_name, wrapper_html: { class: 'name' } %>
            <%= f.input :email, wrapper_html: { class: 'email' } %>
            <%= f.input :about, collection: ['Feedback', 'Partnership', 'General Enquiries'], prompt: "Please Select One", wrapper_html: { class: 'options' } %>
            <%= f.input :message, as: :text, :input_html => { :rows => 4}, placeholder: 'Please type in your message here', label: 'Your message' %>
            <%= f.submit "Send Message", class: "btn btn-success", disable_with: "Sending..." %>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>