<% title "Contact Us" %>
<div class="container">
  <div class="contact-form-container">
  	<div class="row-fluid">
  		<div class="span3">
        <h4>We want to hear from you!</h4>
       	<p class="contact-description">
          <ul>
            <li>Do you have a comment?</li>
            <li>Feature suggestion?</li>
            <li>Want to report a bug?</li>
            <li>Want to become an Accruto partner?</li>
            <li>Please use the form on the left to get in touch with us.</li>
          </ul>
        </p>
        <br>
        <h4>Accruto Pty Ltd</h4>
        <p>
          ABN: 68 157 823 722 <br>
          Phone: 02 9280 2108
        </p>

  		</div>
  		<div class="span6">
				<div class="highlight-indent contact-indent">
				<div class="contact-send">
          <%= simple_form_for @contact_form, url: pages_send_contact_form_path do |f| %>
          	<%= f.error_notification %>
	          <%= f.input :full_name, wrapper_html: { class: 'name' } %>
	          <%= f.input :email, wrapper_html: { class: 'email' } %>
	          <%= f.input :about, collection: ['Feedback', 'Partnership', 'General Enquiries'], prompt: "Please Select One", wrapper_html: { class: 'options' } %>
	          <%= f.input :message, as: :text, :input_html => { :rows => 4}, placeholder: 'Please type in your message here', label: 'Your message' %>
	          <%= f.submit "Send Message", class: "btn btn-primary btn-apply-job", disable_with: "Sending..." %>
	        <% end %>
				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>

