<div class="main-landing">
	<div class="container">
		<div class="align-center">
			<%= image_tag "/assets/logo-accruto-main.png", :class=> "hidden-phone" %>
				<h1 class="main-headline hidden-phone">Join our 600,000 customers and kick-start your new career</h1>
				<h1 class="main-headline visible-phone">It's time. Find your new career.</h1>
		</div>
	</div>
</div>

<div class="main-search">
	<div class="container">
		<%= form_tag "/jobs/search", method: :get do %>
		  <div class="row-fluid">
		  	<div class="span5">
		  		<label>What's your next job title?</label>
		  		<%= text_field_tag :query, params[:query], placeholder: 'Job Title' %>
		  	</div>
		  	<div class="span5">
		  		<label>Where do you want to work?</label>
		  		<input type="text" placeholder="Surry Hills, Sydney, 2008"/>
		  	</div>
		  	<div class="span2">
		  		<%= submit_tag "Search", class: 'btn-primary btn-large btn-main-search' %>
		  	</div>
		  </div>
		<% end %>
	</div>
</div>

<div class="container">
	<div class="row job-ticker">
		<div class="align-center">
			<h3>There are currently<span class="updated-figures"> 234,756 </span>Australian Jobs posted on Accruto
			</h3>
		</div>
	</div>
	<div class="browse-jobs">
		<div class="row hidden-phone">
			<div class="span6">
				<h4 class="sub-heading">Browse Categories</h4>
			</div>
		</div>
		<div class="row hidden-phone">
			<% @categories.in_groups(4).each do |group| %>
				<div class="span3">
					<ul class="category-list">
						<% group.each do |category| %>
							<li><a href="/jobs/search"><%= category.name %></a></li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
	</div>

	<hr>
	<div class="customers">
		<div class="row">
			<div class="align-center">
				<h3 class="section-title">What Our Customers Say</h3>
			</div>
		</div>
		<div class="row">
				<div class="span2">
					<div class="align-center">
						<%= image_tag "/assets/placeholder-customer-1.png", :class=> "customer-avatar" %>
					</div>
				</div>
				<div class="span4 ">
					<p class="bodycopy ">This is an example of body copy. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
					</br>
					<span class="blue-accent">— K. Jackson, Brisbane QLD</span>
				</div>
				<div class="span2">
					<div class="align-center">
						<%= image_tag "/assets/placeholder-customer-2.png", :class=> "customer-avatar-two" %>
					</div>
				</div>
				<div class="span4 ">
					<p class="bodycopy ">This is an example of body copy. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
					</br>
					<span class="blue-accent">— K. Jackson, Brisbane QLD</span>
				</div>
			</div>
	</div>
	<hr>
	<div class="row partner-companies">
		<div class="align-center">
				<h3 class="section-title">Companies &amp; Hiring Partners</h3>
				<%= image_tag "/assets/companies-logo.png" %>
			</div>
		</div>
</div>

<div class="talent-hunter">
	<div class="container">
		<div class="row">
			<div class="align-center">
					<h3>Are you a Recruiter? Take a look at our custom solution, <a class="to-linked-me">Talent Hunter</a></h3>
			</div>
		</div>

	</div>
</div>


