<div class="main-landing">
	<div class="container">
		<div class="align-center">
			<%= image_tag "/assets/logo-accruto-main.png" %>
			<h1>Join our 600,000 customers and kick-start your new career</h1>
		</div>
	</div>
</div>

<div class="main-search">
	<div class="container">
		<%= simple_form_for @job, class: 'form-inline' do |f| %>
			<div class="row-fluid">
				<div class="span4">
					<label>Job title?</label><br>
					<input type="text" />
				</div>
				<div class="span4">
					<label>Where?</label><br>
					<input type="text" />
				</div>
				<div class="span4">
					<%= f.button :submit, "Search", class: 'btn-primary btn-large' %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<div class="container">
	<div class="row">

	</div>
	<div class="row">
		<h3>Browse By Industries</h3>
	</div>
	<div class="row">
		<% @categories.in_groups(4, false) do |categories| %>
			<div class="span3">
				<ul>
				<% categories.each do |category| %>
					<li id="external_category_id_<%= category.external_category_id %>"><a href="#"><%= category.name %></a></li>
				<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>
