<% title "Accruto - Find Jobs and Kickstart Your New Career." %>
<div class="main-landing">
	<div class="container">
		<div class="main-search-tabs-container">
		<span id="search-jobs_tab" class="main-search-tab main-search-tab-jobs">
			SEARCH JOBS
		</span>
		<span id="search-candidates_tab" class="main-search-tab main-search-tab-candidates">
			SEARCH CANDIDATES
		</span>
		</div>
		<div id="search-jobs_content" class="main-search-content main-search-jobs">
			<h1 class="main-headline hidden-phone">More than 600,000 job seekers use us to <br>search for their new career.</h1>
			<h1 class="main-headline visible-phone">It's time. Find your new career.</h1>
			<%= form_tag search_jobs_path, method: :get do %>
			  <div class="row-fluid">
			  	<div class="span5">
			  		<label>What's your next job title?</label>
			  		<%= text_field_tag :job_title, params[:job_title], placeholder: 'Job Title' %>
			  	</div>
			  	<div class="span5">
			  		<label>Where do you want to work?</label>
			  		<%= text_field_tag :address, params[:address], placeholder: 'City or State' %>
			  	</div>
			  	<div class="span2">
			  		<%= submit_tag "Search", class: 'btn-primary btn-large btn-main-search' %>
			  	</div>
			  </div>
			<% end %>
		</div>
		<div id="search-candidates_content" class="main-search-content main-search-candidates hidden">
			<h1 class="main-headline hidden-phone">Want to search through a database of <br>more than 600,000 job seekers?</h1>
			<h1 class="main-headline visible-phone">Want to search through a database of <br>more than 600,000 job seekers?</h1>
			<label class="main-headline"><span class="label">We are in a private BETA!</span>&nbsp;&nbsp;Drop your name and email address for a free trial.</label>
			<%= form_for :candidate_search_beta_user, html: { id: "candidate_search_beta_user_form" }, url: candidate_search_signup_path, method: :get, remote: true do |f| %>
			  <div class="row-fluid">
			  	<div class="span3 offset2">
			  		<%= f.text_field :name, placeholder: 'Name' %>
			  	</div>
			  	<div class="span3">
			  		<%= f.text_field :email, placeholder: 'Email Address' %>
			  	</div>
<!-- 			  	<div class="span5">
			  		<label>Where?</label>
			  		<%= text_field_tag :address, params[:address], placeholder: 'City or State' %>
			  	</div> -->
			  	<div class="span2">
			  		<%= submit_tag "Submit", class: 'btn-primary btn-large btn-main-search-candidates', disable_with: "Submitting..." %>
			  	</div>
			  </div>
			<% end %>
		</div>
		<div class="row ticker search-jobs_ticker">
			<div class="align-center">
				<h3>There are currently<span class="updated-figures"> <%= number_with_delimiter(total_jobs) %> </span>Australian Jobs posted on Accruto
				</h3>
			</div>
		</div>
		<div class="row ticker search-candidates_ticker hidden">
			<div class="align-center">
				<h3>There are currently<span class="updated-figures"> 343,400 </span>Australian Candidate Profiles on Accruto
				</h3>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/shared/flash_messages' %>
<div class="container">
	<div class="how-it-works">
		<div class="row">
			<div class="align-center">
				<h3 class="section-title">How It Works</h3>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<div class="how-it-works-centered">
					<h3>For job seekers</h3>
					<%= image_tag "job_seeker_icon.png" %>
				</div>
				<div class="how-it-works-candidates">
					<div class="row-fluid">
						<div class="span1 offset3 line-candidates">
						</div>
						<div class="span6">
							<ul>
								<li>Search jobs</li>
								<li>Add jobs to shortlist</li>
								<li>Send personalised job application emails to employers</li>
								<li>Get cash rewards for referring friends</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="how-it-works-centered">
					<h3>For recruiters</h3>
					<%= image_tag "employer_icon.png" %>
				</div>
				<div class="how-it-works-recruiters">
					<div class="row-fluid">
						<div class="span1 offset3 line-recruiters">
						</div>
						<div class="span6">
							<ul>
								<li>Search candidates</li>
								<li>Add candidates to shortlist</li>
								<li>Send personalised and company branded emails to candidates</li>
								<li>Offer cash rewards to candidates that successfully refer their friends</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="browse-jobs">
		<div class="row hidden-phone">
			<div class="span6">
				<h4 class="sub-heading">Browse job categories</h4>
			</div>
		</div>
		<div class="row hidden-phone visible-desktop visible-tablet">
			<% @categories.in_groups(4, false).each do |group| %>
				<div class="span3">
					<ul class="category-list">
						<% group.each do |category| %>
							<li><a href="/jobs/category/<%= category.slug %>"><%= category.name %></a></li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
	</div>
	<!-- hr -->
	<div class="customers hidden">
		<div class="row">
			<div class="align-center">
				<h3 class="section-title">What Our Customers Say</h3>
			</div>
		</div>
		<div class="row">
				<div class="span2">
					<div class="align-center">
						<%= image_tag "/assets/placeholder-customer-1.png", :class=> "customer-avatar" %>
					</div>
				</div>
				<div class="span4 ">
					<p class="bodycopy ">This is an example of body copy. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
					</br>
					<span class="blue-accent">— K. Jackson, Brisbane QLD</span>
				</div>
				<div class="span2">
					<div class="align-center">
						<%= image_tag "/assets/placeholder-customer-2.png", :class=> "customer-avatar-two" %>
					</div>
				</div>
				<div class="span4 ">
					<p class="bodycopy ">This is an example of body copy. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
					</br>
					<span class="blue-accent">— K. Jackson, Brisbane QLD</span>
				</div>
			</div>
	</div>
	<!-- hr -->
	<div class="row partner-companies hidden">
		<div class="align-center">
			<h3 class="section-title">Companies &amp; Hiring Partners</h3>
			<%= image_tag "/assets/companies-logo.png" %>
		</div>
	</div>
</div>

<div class="talent-hunter hidden">
	<div class="container">
		<div class="row">
			<div class="align-center">
					<h3>Are you a Recruiter? Take a look at our custom solution, <a class="to-linked-me">Talent Hunter</a></h3>
			</div>
		</div>

	</div>
</div>


