<% title "Accruto - Find Jobs and Kickstart Your New Career." %>
<div class="content-featured">
	<div class="row">
		<div class="col-md-6">
			Hello
		</div>
		<div class="col-md-6">
			World
		</div>
	</div>
</div>
<%= render 'layouts/shared/flash_messages' %>
<div class="container">
	<div class="how-it-works">
		<div class="row">
			<div class="align-center">
				<h3 class="section-title">How It Works</h3>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<div class="how-it-works-centered">
					<h3>For job seekers</h3>
					<%= image_tag "job_seeker_icon.png" %>
				</div>
				<div class="how-it-works-candidates">
					<div class="row-fluid">
						<div class="span1 offset3 line-candidates">
						</div>
						<div class="span6">
							<ul>
								<li>Search jobs</li>
								<li>Add jobs to shortlist</li>
								<li>Send personalised job application emails to employers</li>
								<li>Get cash rewards for referring friends</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="how-it-works-centered">
					<h3>For recruiters</h3>
					<%= image_tag "employer_icon.png" %>
				</div>
				<div class="how-it-works-recruiters">
					<div class="row-fluid">
						<div class="span1 offset3 line-recruiters">
						</div>
						<div class="span6">
							<ul>
								<li>Search candidates</li>
								<li>Add candidates to shortlist</li>
								<li>Send personalised and company branded emails to candidates</li>
								<li>Offer cash rewards to candidates that successfully refer their friends</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="browse-jobs">
		<div class="row hidden-phone">
			<div class="span6">
				<h4 class="sub-heading">Browse job categories</h4>
			</div>
		</div>
		<div class="row hidden-phone visible-desktop visible-tablet">
			<% @categories.in_groups(4, false).each do |group| %>
				<div class="span3">
					<ul class="category-list">
						<% group.each do |category| %>
							<li><a href="/jobs/category/<%= category.slug %>"><%= category.name %></a></li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
	</div>
	<!-- hr -->
	<div class="customers hidden">
		<div class="row">
			<div class="align-center">
				<h3 class="section-title">What Our Customers Say</h3>
			</div>
		</div>
		<div class="row">
				<div class="span2">
					<div class="align-center">
						<%= image_tag "/assets/placeholder-customer-1.png", :class=> "customer-avatar" %>
					</div>
				</div>
				<div class="span4 ">
					<p class="bodycopy ">This is an example of body copy. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
					</br>
					<span class="blue-accent">— K. Jackson, Brisbane QLD</span>
				</div>
				<div class="span2">
					<div class="align-center">
						<%= image_tag "/assets/placeholder-customer-2.png", :class=> "customer-avatar-two" %>
					</div>
				</div>
				<div class="span4 ">
					<p class="bodycopy ">This is an example of body copy. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
					</br>
					<span class="blue-accent">— K. Jackson, Brisbane QLD</span>
				</div>
			</div>
	</div>
	<!-- hr -->
	<div class="row partner-companies hidden">
		<div class="align-center">
			<h3 class="section-title">Companies &amp; Hiring Partners</h3>
			<%= image_tag "/assets/companies-logo.png" %>
		</div>
	</div>
</div>

<div class="talent-hunter hidden">
	<div class="container">
		<div class="row">
			<div class="align-center">
					<h3>Are you a Recruiter? Take a look at our custom solution, <a class="to-linked-me">Talent Hunter</a></h3>
			</div>
		</div>

	</div>
</div>


