<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-phone">
      <div class="candidates-search-left-sidebar">
        <%= render 'shared/candidate_search_sidebar', favourite_jobs: @favourite_jobs %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="candidates-search-content">
        <h4 class="result-sentence"><span class="candidates-result-number"><%= number_with_delimiter(@candidates.count) %></span> product management executive candidates in Australia
        </span>
        </h4>
        <hr>
        <div class="candidates-search-pagination">
          <%= will_paginate @candidates %>
        </div>
        <ul class="candidate-list">
          <% @candidates.each do |candidate| %>
            <%= render 'candidate_preview', candidate: candidate %>
            <%= render 'candidate_flipped', candidate: candidate %>
          <% end %>
        </ul>
        <div class="candidates-search-pagination">
          <%= will_paginate @candidates %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%= render 'candidate_shortlist' %>
    </div>
  </div>
</div>


