<div class="row-fluid results-main">
  <div class="span2 hidden-phone">
    <%= render 'shared/candidate_search_sidebar', favourite_jobs: @favourite_jobs %>
  </div>
  <div class="span8 result-list">
    <h4 class="result-sentence">There are <span class="result-number"><%= @candidates.count %></span> <%= params[:search][:job_title] %> candidates in <%= params[:search][:address].present? ? params[:search][:address] : "Australia" %>
    </span>
    </h4>
    <ul class="candidate-list">
      <% @candidates.each do |candidate| %>
        <li>
          <div class="row-fluid">
            <div class="span1">
              <%= image_tag "accruto-logo-default.png", class: "candidate-headshot" %>
            </div>
            <div class="span6">
              <h4><%= candidate.job_title %></h4>
              <p><i class="icon-map-marker"></i>&nbsp;&nbsp;<%=  candidate.address.city %>, <%= candidate.address.state %></p>
              <p><span class="label status-<%= candidate_label_class(candidate.status) %>"><%= candidate.status %></span>&nbsp;&nbsp;&nbsp;<span class="label visa-<%= candidate_label_class(candidate.visa) %>"><%= candidate.visa %></span></p>
              <p class="posted-date">Updated <%= distance_of_time_in_words_to_now(candidate.updated_at) %> ago</p>
            </div>
            <div class="span2 candidate-info">
              <span class="salary-value"><%= number_to_currency(candidate.minimum_annual_salary, precision: 0) %></span><br>
              <span class="salary-desc">desired salary</span><br>
              <% if candidate.phone %><i class="icon-phone"></i><% end %>&nbsp;&nbsp;&nbsp;<i class="icon-envelope-alt"></i>
            </div>
            <div class="span3">
              <a href="#" target="new" class="btn btn-inverse btn-view-job hidden-phone"><i class="icon-mail-forward"></i>&nbsp;&nbsp;VIEW</a>
              <a href="#" class="btn btn-inverse">
                <span class="" data-image-url="<%= image_path("ajax-loader.gif") %>"></span>
                <i class="icon-star"></i>
              </a>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @candidates %>
  </div>
  <div class="span2">
    <%= image_tag "http://placehold.it/160x600" %>
  </div>
</div>

