<div class="admin-sidebar">
  <ul>
    <a href="<%= admin_root_path %>"><li><i class="icon-bar-chart"></i>&nbsp;&nbsp;&nbsp;Dashboard</li></a>
    <a href="<%= admin_candidates_path %>"><li><i class="icon-user"></i>&nbsp;&nbsp;&nbsp;Candidates</li></a>
    <a class="hidden" href="#"><li><i class="icon-user"></i>&nbsp;&nbsp;&nbsp;Recruiters</li></a>
    <a class="hidden" href="<%= admin_jobs_path %>"><li><i class="icon-suitcase"></i>&nbsp;&nbsp;&nbsp;Jobs</li></a>
    <a href="<%= admin_bounties_path %>"><li><i class="icon-trophy"></i>&nbsp;&nbsp;&nbsp;Bounties</li></a>
    <a href="<%= csv_admin_candidates_path %>"><li><i class="icon-download"></i>&nbsp;&nbsp;&nbsp;Export CSV</li></a>
    <a class="hidden" href="#"><li><i class="icon-inbox"></i>&nbsp;&nbsp;&nbsp;Job Applications</li></a>
  </ul>
</div>