<div id="education-form-fields" class="education-form-fields">
  <div class="partial-form-fields">
    <div class="row">
      <div class="col-md-3">
        <%= f.input :institution, label: "School/College/University", input_html: {class: 'education_institution'} %>
      </div>
      <div class="col-md-3">
        <%= f.input :qualification, label: "Qualification", input_html: {class: 'education_qualification'} %>
      </div>
      <div class="col-md-2">
        <%= f.input :qualification_type, collection: Education::TYPES, label: "Qualification Type", input_html: {class: 'select2 education_select education_qualification_type'} %>
      </div>
      <div class="col-md-2">
        <%= f.input :graduated_at_text, label: "Graduated at", collection: Education::YEARS, input_html: {class: 'select2 education_select graduated_at'} %>
      </div>
      <div class="col-md-2">
        <i class="icon-remove education-row-remove <%= f.object.new_record? ? 'hide' : '' %>" data-toggle="tooltip" title="Delete"></i>
      </div>
    </div>
  </div>
  <%= f.hidden_field :_destroy %>
</div>