<!DOCTYPE html>
<html>
	<%= render 'layouts/shared/head_content' %>
	<body>
		<%= render 'layouts/shared/nav' %>
		<%= render 'layouts/shared/flash_messages' %>
	  <%= yield %>
	  <%= render 'layouts/shared/footer' %>
	</body>
</html>
